extends ./layout/index

block content
    main.container.mt-5 
        .row
            .col.md-1
                h1=page
                img(src="https://www.zarvana.com/wp-content/uploads/2020/05/3-remote-work-myths.jpg", alt="Remote work", class="img-fluid")
            .col.mt-5.py-4.justify-content-center
                h2 What we do?
                p TorreX Platform is the easiest way to access the job offers offered by torre.co. In addition, it allows you to review the most important information of your genome.
                p This platform is built using Node.JS technology.