footer.container.py-5
    .row
        .col-md-6
            nav.nav.footer.justify-content-center.justify-content-md-start
                a.nav-link(href="/user") USER
                a.nav-link(href="/job") JOB  
        .col
            p.copyright.text-center.text-md-right
                | Logos and info are propiety of torre.co
